    * {
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    body {
        background-image: url(../Img/bac.jpeg);
        background-size: 100%;
        background-repeat: repeat;
    }
    
    .header {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 95px;
        background-color: rgba(163, 163, 163, 0.1);
    }
    
    .div-title {
        margin: 0;
        width: 300px;
    }
    
    .title {
        margin: 0 0;
        margin-top: 30px;
        margin-left: 20px;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        width: 700px;
        font-size: 25px;
        transition: 1s;
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    .title:hover {
        transform: translateY(-5px);
    }
    
    .div-button {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-top: -30px;
    }
    
    .Button {
        border: 0;
        background: none;
        outline: none;
        border-bottom: 2px solid black;
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
        font-size: 18px;
        cursor: pointer;
        transition: 1s;
        font-weight: 500;
    }
    
    .Button:hover {
        transform: scale(1.07, 1.07);
    }
    
    .body {
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 0;
        width: 100%;
        height: 85px;
        margin-top: 100px;
    }
    
    .Titulo {
        margin-top: 80px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        width: 260px;
        transition: 0.55s ease-out;
    }
    
    .Titulo:hover {
        transform: translateY(-5px);
    }
    
    .Produtos {
        animation: opacity 1s;
        margin-top: 30px;
        width: 200px;
        height: 200px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 30px;
        border-radius: 150px;
        background-color: #6556ef;
        text-align: center;
        transition: 0.55s ease-out;
    }
    
    .Produtos:hover {
        transform: scale(1.1, 1.1);
        filter: brightness(85%);
    }
    
    .Text {
        margin-top: 25px;
        font-weight: 500;
    }
    
    .sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        padding: 30px 0px;
        background-color: rgba(163, 163, 163, 0.3);
    }
    
    .foto {
        margin-left: -200px;
    }
    
    .Foto {
        width: 325px;
        height: 325px;
        border: 3px solid black;
        border-radius: 180px;
        transition: 1s;
    }
    
    .Foto:hover {
        transform: scale(1.07, 1.07);
    }
    
    .texto {
        margin-left: 180px;
        width: 500px;
    }
    
    @keyframes opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }